CommandX 0
CommandY 0
CommandWidth 160
CommandHeight 20
CommandNotAlwaysOnTop false
CommandHiddenOnStart false
CommandOffsetX 0
CommandOffsetY 0
CommandBevelBorder false
CommandWaitForBox false
CommandBorderSize -1
CommandBottomBorderSize 2
CommandTopBorderSize 2
CommandLeftBorderSize 2
CommandRightBorderSize 2
CommandTextSize 14
CommandTextBold false
CommandTextUnderline false
CommandTextItalic false
CommandBGColor FFFFFF
CommandBackground 
CommandStretchBackground false
CommandTransparentEditBox false
CommandTextColor 000000
CommandBorderColor 666666
CommandTextFontFace Arial
CommandNotMoveable false
CommandNoCursorChange false
CommandAssumeNetAddress false
CommandExplorePaths false
CommandHistoryFile $LitestepDir$\modules.ini
CommandHistoryEntries 10
CommandHistoryMenuEntries $CommandHistoryEntries-1$
CommandClearHistoryOnStartup false
CommandNewestHistoryItemsOnTop false
CommandUnixHistory false
CommandAddExternalsToHistory false
CommandContextMenuStandardItems 0
CommandContextMenuAboveBox false
CommandContextMenuExecute false
CommandContextMenuOrder 012
CommandContextMenuAutoPopup false
CommandNoWarnOnError false
CommandHideOnCommand false
CommandHideOnEsc false
CommandSelectAllOnFocus false
CommandSelectAllOnMouseFocus false
CommandHideOnUnfocus false
CommandNoClearOnCommand false
CommandClearOnHide false
CommandOnFocus !none
CommandOnUnfocus !none
CommandTime 
CommandClockDisappearsOnFocus false
CommandScrollWinAmpTitle false
CommandWinAmpDisappearsOnFocus false
CommandMusicPlayer WINAMP V1.X
CommandNoTabMicroComplete false
CommandTabFileComplete false
CommandNoAutoComplete false
CommandCommaDelimiter false
CommandRPNCalculator false
CommandSearchEngineList engines.list
CommandSearchEngineBrowser 
